body{
	font-family:arial;
	/*color: white;*/
	background-image: url("earth9.jpg");
	background-repeat: no-repeat;
}
img.tiny{
	width: 20px;
	border: solid thin black;
}
img.big{
	width:300px;
	border: solid thin black;
	position: absolute;
	right: 90ex;
	top: 15ex;
}
.properties div div{
	display: inline-block;
}
.properties div div:first-child{
	width: 20ex;
	padding-top: 2ex;
}
.properties div div:last-child{
	display: inline-block;
}
a{
	text-decoration: none;
}
.nav_button{
	border: solid thin black;
	padding: 1ex;
	margin: 1ex;
	border-radius: 10ex;
	width: 15ex;
	text-align: center;
	display: inline-block;
}
.delete_button{
	padding-top: 2ex;
	padding: 1ex;

}
ul#sort a:link{
	background-color: white;
	color:black;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	list-style-type: none;
}
ul#sort a:hover{
	background-color: blue;
}